.posts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
}

.post-item {
    background-color: rgba(0,0,0,0.1);
    overflow-wrap: break-spaces;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.post-footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
